<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.WizGuys.eStudent">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".AddTeachers">
        </activity>
        <activity android:name=".TeachersProfile" />
        <activity android:name=".Teachers" />
        <activity android:name=".AddPayment" />

        <activity android:name=".ManageSubjects"></activity>
        <activity android:name=".UpdateSubject" />
        <activity android:name=".AddSubject" />
        <activity android:name=".SubjectList" />
        <activity android:name=".UpdateTask" />
        <activity android:name=".ToDoForm" />
        <activity android:name=".ToDoList" />

        <activity android:name=".Notice" />
        <activity android:name=".ShowResult" />
        <activity android:name=".MainActivity4" />
        <activity android:name=".MainActivity3" />
        <activity android:name=".MainActivity2" />
        <activity android:name=".MainActivity">



        </activity>
        <activity android:name=".Register" />
        <activity android:name=".Login" />
        <activity android:name=".Dashboard" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>