<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.WizGuys.eStudent">

    <application
        android:name=".helperClass.firebase.FireBase"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".students.StudentUpdate"></activity>
        <activity android:name=".students.StudentItems" >

        </activity>
        <activity android:name=".students.StudentAdd" />
        <activity android:name=".students.StudentDetails" />
        <activity android:name=".finance.FinanceDashboard" />
        <activity android:name=".finance.UploadFinance" />
        <activity android:name=".todoList.UpdateToDo" />
        <activity android:name=".todoList.ConfirmToDo" />
        <activity android:name=".finance.AllFinance" />
        <activity android:name=".UpdateDeleteAssignmentResult" />
        <activity android:name=".ManageSubjects" />
        <activity android:name=".subjects.UpdateSubject" />
        <activity android:name=".subjects.AddSubject" />
        <activity android:name=".subjects.SubjectList" />
        <activity android:name=".todoList.ToDoForm" />
        <activity android:name=".todoList.ToDoList" />
        <activity android:name=".notice.Notice" />
        <activity android:name=".ShowResult" />
        <activity android:name=".AddAssignmentResult" />
        <activity android:name=".UpdateDeleteResult" />
        <activity android:name=".AddResult" />

        <activity android:name=".Register" />
        <activity android:name=".Login" />
        <activity android:name=".Dashboard" />
        <activity android:name=".teachers.Upload" />
        <activity android:name=".teachers.Detail" />
        <activity android:name=".teachers.Update" />
        <activity android:name=".teachers.Items" />
        <activity android:name=".teachers.TeachersDashboard" >

        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>